
<style>
  .instagram-gallery {
    color: #13613E;
  }
  
  .instagram-gallery__wrapper {
  
  }
  
  .instagram-gallery__para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .instagram-gallery__title {
    font-size: 55px;
    line-height: 1;
  }
  
  .instagram-gallery__desc {
    margin-top: 27px;
    font-size: 30px;
    line-height: 1.6;
  }
  
  .instagram-gallery__content {
    margin-top: 82px;
    gap: 24px;
  }

  @media (max-width: 750px) {
    .instagram-gallery__title {
      font-size: 20px;
      line-height: 1.25;
    }
    
    .instagram-gallery__desc {
      margin-top: 12px;
      font-size: 12px;
      max-width: 200px;
      line-height: 1.25;
    }

    .instagram-gallery__content {
      margin-top: 30px;
      gap: 8px;
    }
  }
</style>

<div class="instagram-gallery">
  <div class="instagram-gallery__wrapper">
    <div class="instagram-gallery__para">
      <div class="instagram-gallery__title">COMMUNITY</div>
      <div class="instagram-gallery__desc">Discover, Share, and inspire by tagging @boutijour.official #boutijour</div>
    </div>
    <div class="instagram-gallery__content"></div>
  </div>
</div>