<div class="disrupt-anti-aging">
  <div class="disrupt-anti-aging-icon_wrapper">
    <div class="anti-aging-text">
      <div class="anti-aging-title">{{ section.settings.title }}</div>
      <div class="anti-aging-subtitle">{{ section.settings.subtitle }}</div>
    </div>

    <div class="anti-aging-image_container">
      <div class="anti-aging-image_wrapper">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'icon' -%}
              <img src="{{ block.settings.image | image_url: master }}">
            {%- endcase -%}
        {%- endfor -%}

        {% comment %} <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_002.png?v=1697065038">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-16_001.png?v=1697065038">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_004.png?v=1697065037">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_003.png?v=1697065037"> {% endcomment %}
      </div>
    </div>
  </div>

</div>

<style>
  .disrupt-anti-aging {
    position: relative;
    width: 100%;
  }

  .disrupt-anti-aging-icon_wrapper {
    padding-bottom: 100px;
    background: #F7F6F0;
  }

  .anti-aging-text {
    text-align: center;
    padding: 70px 0;

    color: #2C3D33;
  }

  .anti-aging-title {
    font-family: ambroise-std;
    font-style: italic;
    letter-spacing: 0;
    font-size: 45px;
    line-height: 1;
    font-weight: 300;
  }

  .anti-aging-subtitle {
    font-family: acumin-variable;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 25px;
    line-height: 2;
    font-weight: 300;

    margin-top: 20px;
  }

  .anti-aging-image_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .anti-aging-image_wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: 1500px) {
    .anti-aging-image_container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: unset;
    }

    .anti-aging-image_wrapper {
      width: calc(4 * 19.6vw);
    }

    .anti-aging-image_wrapper img:nth-child(1) {
      width: 121px;
      height: 31px;
    }
    .anti-aging-image_wrapper img:nth-child(2) {
      width: 88px;
      height: 25px;
    }
    .anti-aging-image_wrapper img:nth-child(3) {
      width: 129px;
      height: 24px;
    }
    .anti-aging-image_wrapper img:nth-child(4) {
      width: 140px;
      height: 78px;
    }
  }

  @media (min-width: 750px) {
    .anti-aging-image_wrapper {
      transform: scale(0.9);
    }
  }

  @media(max-width: 750px) {
    .disrupt-anti-aging-icon_wrapper {
      padding-bottom: 27px;
    }

    .anti-aging-text {
      padding: 26px 0;
    }

    .anti-aging-title {
      font-size: 14px;
    }
  
    .anti-aging-subtitle {
      font-size: 9px;
      margin-top: 6px;
    }

    .anti-aging-image_container {}

    .anti-aging-image_wrapper img:nth-child(1) {
      width: 51px;
      height: 14px;
    }
    .anti-aging-image_wrapper img:nth-child(2) {
      width: 37px;
      height: 10px;
    }
    .anti-aging-image_wrapper img:nth-child(3) {
      width: 55px;
      height: 10px;
    }
    .anti-aging-image_wrapper img:nth-child(4) {
      width: 59px;
      height: 33px;
    }
  }
</style>

{% schema %}
  {
    "name": "Disrupt anti-aging icon",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Media Content"
      },
      {
        "type": "text",
        "id": "title",
        "default": "“Wish I had bought the full line up”",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "default": "VOGUE",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Anti aging image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Disrupt anti-aging icon"
      }
    ]
  }
{% endschema %}