<div class="skin-test-slider_container">
  <div class="skin-test-slider_wrapper">
    <div class="skin-test_slide">
      <picture style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1">
        <source media="(max-width:750px)" srcset="{{section.settings.image_mobile | image_url}}">
        <img src="{{section.settings.image_desktop | image_url}}" style="width:100%">
      </picture>
      <div class="left-text-container-main">
        <div class="skin-left_eyebrow">
          TEST YOUR SKIN & FIND YOUR ROUTINE
        </div>
        <div class="skin-left_header">
          FIND YOUR<br> ‘WELL-AGING’<br> ROUTINE
        </div>
        <div class="left-text-cta-wrapper">
          <a class="skin-left_cta" href="/pages/skin-test">DO SKIN TEST</a>
        </div>
      </div>
    </div>
    <div class="skin-test_slide">
      <picture style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1">
        <source media="(max-width:750px)" srcset="{{section.settings.image_mobile_r | image_url}}">
        <img src="{{section.settings.image_desktop_r | image_url}}" style="width:100%">
      </picture>
      <div class="right-text-container-main">
        <div class="skin-right_eyebrow">
          TEST YOUR SKIN & FIND YOUR ROUTINE
        </div>
        <div class="skin-right_header">
          SKIN TEST
        </div>

        <div class="skin-card_wrapper">
          <div class="skin_card">
            <div class="skin-card_title">Age of New Journey</div>
            <div class="skin-card_btn">I’m 20’s</div>
            <div class="skin-card_body">PRE-MATURE SKIN AGING</div>
          </div>

          <div class="skin_card">
            <div class="skin-card_title">Age of Self-Love</div>
            <div class="skin-card_btn">I’m 30’s</div>
            <div class="skin-card_body">START OF SIGNS OF AGING</div>
          </div>

          <div class="skin_card">
            <div class="skin-card_title">Age of New Adventure</div>
            <div class="skin-card_btn">I’m 40’s & Above</div>
            <div class="skin-card_body">MATURE SKIN AGING</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg class="skin-test-slide-next_btn" xmlns="http://www.w3.org/2000/svg" width="42.413" height="91.969" viewBox="0 0 42.413 91.969">
    <path id="패스_15" data-name="패스 15" d="M-8.959,1327.528l40,42.845-40,46.3" transform="translate(10.372 -1326.114)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </svg>


</div>





<style>



  .skin-test_slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: white;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 162px;
    padding-bottom: 101px;
    height: 50.5vw;
  }

  .skin-test-slider_wrapper {
    position: relative;
    width: 100%;
    height: 50.5vw;
  }

  .skin-test_slide:first-child {
    z-index: 5;
    opacity: 1;
  }

  .skin-test_slide:last-child {
    display: flex;
    align-items: flex-end;
  }

  .skin-test-slider_container {
    position: relative;
    display: block;
    width: 100%;
    height: 50.5vw;
    overflow: hidden;
  }

  .skin-test-slide-next_btn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 6;
    width: 50px;
    cursor: pointer;
  }

  .z-index-5 {
    z-index: 5 !important;
    opacity: 1 !important;
  }

  .slide-btn_left {
    transform: translateY(-50%) rotate(180deg);
  }

  .right-text-container-main, .left-text-container-main {
    position: relative;
    width: 100%;
    z-index: 3;
  }

  .skin-left_eyebrow {
    font-family: acumin-pro;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #13613E;
    text-transform: uppercase;
    opacity: 1;
    text-align: left;
  }

  .skin-left_header {
    text-align: left;
    font-family: Ambroise-Std;
    font-size: 100px;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #13613E;
    opacity: 1;
    margin-top: 10px;
  }

  .skin-left_cta {
    font-family: Acumin-Pro;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0px;
    color: #13613E;
    text-transform: uppercase;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .left-text-cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 292px;
    height: 80px;
    border: 1px solid #13613E;
    margin-top: 38px;
  }


  .skin-right_eyebrow {
    text-align: left;
    font-family: Acumin-Pro;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    line-height: 1.2;
  }

  .skin-right_header {
    text-align: left;
    font-family: Ambroise-Std;
    font-weight: 300;
    font-size: 100px;
    letter-spacing: 0px;
    color: #13613E;
    opacity: 1;
    margin-top: 10px;
    line-height: 1.2;
  }

  .skin-card_title {
    text-align: center;
    font-family: Ambroise-Std;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1.2;
  }

  .skin-card_btn {
    width: 350px;
    height: 100px;
    border: 1px solid white;
    text-align: center;
    font-family: Acumin-Pro;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 21px;
  }

  .skin-card_body {
    text-align: center;
    font-family: Acumin-Pro;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    line-height: 1.2;
    margin-top: 35px;
  }

  .skin-card_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between !important;
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }




  @media( max-width: 1500px ) {

    .skin-test_slide {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 101px;
      padding-bottom: 49px;
    }
    .skin-test-slide-next_btn {
      right: 3%;
    }
    .skin-left_eyebrow {
      font-size: 23px;
    }

    .skin-left_header {
      font-size: 60px;
    }

    .skin-left_cta {
      font-size: 23px;
    }

    .left-text-cta-wrapper {
      width: 304px;
      height: 70px;
    }


    .skin-right_eyebrow {
      font-size: 23px;
    }

    .skin-right_header {
      font-size: 60px;
    }

    .skin-card_title {
      font-size: 23px;
    }

    .skin-card_btn {
      width: 240px;
      height: 64px;
      font-size: 23px;
    }

    .skin-card_body {
      font-size: 20px;
    }
  }

  @media( max-width: 750px ) {
    
    .skin-test-slider_container {
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .skin-test-slider_container {
      height: 105vw;
    }

    .skin-card_wrapper {
      justify-content: center !important;
    }

    .skin-test_slide {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: white;
      opacity: 0;
      transition: opacity 0.5s;
      z-index: 2;
      padding-left: 180px;
      padding-right: 180px;
      padding-top: 162px;
      padding-bottom: 101px;
      height: 105vw;
    }

    .skin-test-slider_wrapper {
      position: relative;
      width: 100%;
      height: 105vw;
      display: flex;
      width: 200%;
      flex-wrap: wrap;
    }

    .skin-test_slide {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 65px;
      padding-bottom: 41px;
      position: relative;
      width: 50%;
      height: 100%;
      opacity: 1 !important;
    }
    .skin-test-slide-next_btn {
      right: 3%;
      display: none;
    }

    .skin-left_eyebrow {
      font-size: 12px;
    }

    .skin-left_header {
      font-size: 40px;
    }

    .skin-left_cta {
      font-size: 12px;
    }

    .left-text-cta-wrapper {
      width: 162px;
      height: 40px;
    }


    .skin-right_eyebrow {
      font-size: 12px;
      color: white;
      text-align: center;
    }

    .skin-right_header {
      font-size: 40px;
      color: white;
      text-align: center;
      margin-top: 15px;
    }

    .skin-card_title {
      font-size: 14px;
      color: white;
     
    }

    .skin-card_btn {
      width: 162px;
      height: 40px;
      font-size: 12px;
      color: white;
      margin-top: 8px;
    }

    .skin-card_body {
      font-size: 12px;
      color: white;
      margin-top: 7px;
    }

    .skin_card {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .skin-card_wrapper .skin_card:last-child .skin-card_title {
      margin-top: 22px;
    }
  }
</style>


<script>
let skin_btn = document.querySelector('.skin-test-slide-next_btn');
let pos_start = 0;
let skin_sliders = document.querySelectorAll('.skin-test_slide');
let skin_max_len = skin_sliders.length - 1;

skin_btn.addEventListener('click', function(){
  skin_sliders[pos_start].classList.remove("z-index-5");
  if( pos_start < skin_max_len ) {
    pos_start = pos_start + 1;
    skin_sliders[pos_start].classList.add("z-index-5");

  } else {
    
    pos_start = pos_start - 1;
    skin_sliders[pos_start].classList.add("z-index-5");
  }

  console.log(pos_start)
  if( pos_start == skin_max_len ) {
    if( !skin_btn.classList.contains('slide-btn_left') ) {
      skin_btn.classList.add('slide-btn_left')
    }
  } else {
    if( skin_btn.classList.contains('slide-btn_left') ) {
      skin_btn.classList.remove('slide-btn_left')
    }
  }
  

})

</script>
{% schema %}
  {
    "name": "Disrupt skin banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Media Content"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image",
        "info": "Leave it blank if no need to show different mobile image."
      },
      {
        "type": "image_picker",
        "id": "image_desktop_r",
        "label": "Desktop image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile_r",
        "label": "Mobile image",
        "info": "Leave it blank if no need to show different mobile image."
      },
      {
        "type": "header",
        "content": "Text banner settings"
      },
      {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow",
        "default": "TE MEETS NATURE"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "New Innovative Well-aging Skincare"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA",
        "default": "SHOP NOW"
      },
      {
        "type": "url",
        "id": "link",
        "label": "CTA Link"
      },
      {
        "type": "header",
        "content": "Media banner settings"
      },
      {
        "type": "select",
        "id": "inner_padding_left_right",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "185",
            "label": "185"
          },
          {
            "value": "20",
            "label": "20"
          }
        ],
        "default": "185",
        "label": "Inner padding left and right"
      },
      {
        "type": "select",
        "id": "inner_padding_bottom",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "166",
            "label": "166"
          }
        ],
        "default": "166",
        "label": "Inner padding bottom"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "select",
        "id": "content_alignment_horizontal",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left",
        "label": "Content alignment(horizontal)"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left",
        "label": "Text alignment"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "section_spacing",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "150",
            "label": "150"
          },
          {
            "value": "60",
            "label": "60"
          }
        ],
        "default": "150",
        "label": "Spacing between sections"
      },
      {
        "type": "header",
        "content": "Section page width size"
      },
      {
        "type": "select",
        "id": "media_width_size",
        "options": [
          {
            "value": "full",
            "label": "Full"
          },
          {
            "value": "960",
            "label": "960"
          },
          {
            "value": "1200",
            "label": "1200"
          }
        ],
        "default": "full",
        "label": "Media part width size"
      },
      {
        "type": "select",
        "id": "text_width_size",
        "options": [
          {
            "value": "full",
            "label": "Full"
          },
          {
            "value": "960",
            "label": "960"
          },
          {
            "value": "1200",
            "label": "1200"
          }
        ],
        "default": "960",
        "label": "Text part width size"
      }
    ],
    "presets": [
      {
        "name": "Disrupt skin banner"
      }
    ]
  }
  {% endschema %}