<div class="disrupt-anti-aging">

  <div class="anti-aging_wrapper">
    <div class="anti-aging_left">
      <picture style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1">
        <source media="(max-width:750px)" srcset="{{ section.settings.image_mobile_l | image_url }}">
        <img src="{{ section.settings.image_desktop_l | image_url }}" style="width: 100%; z-index: 1">
      </picture>
      <div class="anti-agin-left-txt_wrapper">
        <div class="disrupt-aging-eyebrow txt-color-wh disrupt-txt-align-center mg-b-20">Switch from</div>
        <div class="disrupt-aging-header txt-color-wh disrupt-txt-align-center">Anti-Aging</div>
      </div>

      <div class="anti-agin-left-cta_wrapper">
        <div class="disrupt-aging-eyebrow txt-color-wh disrupt-txt-align-center">to</div>
        <div class="disrupt-aging-header txt-color-wh disrupt-txt-align-center">Well-Aging</div>
        <a href="" class="disrupt-cta-btn disrupt-btn-txt txt-color-wh mg-t-116">
          READ BLOG
        </a>
      </div>
    </div>
    <div class="anti-aging_right">
      <picture style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1">
        <source media="(max-width:750px)" srcset="{{ section.settings.image_mobile_r | image_url}} ">
        <img src="{{ section.settings.image_desktop_r | image_url }}" style="width: 100%; z-index: 1">
      </picture>
      <div class="anti-agin-right-txt_wrapper">
        <div class="disrupt-aging-eyebrow txt-color-wh disrupt-txt-align-center">Let's join to be</div>
        <div class="disrupt-aging-header txt-color-wh disrupt-txt-align-center">Well-ager</div>
        <div class="disrupt-aging-body txt-color-wh disrupt-txt-align-center mg-t-51">WELL-AGER CLUB</div>
      </div>

      <div class="anti-agin-right-cta_wrapper">
        <a href="" class="disrupt-cta-btn disrupt-btn-txt txt-color-wh">
          JOIN US
        </a>
      </div>
    </div>
  </div>

  <div class="disrupt-anti-aging-icon_wrapper">
    <div class="anti-aging-text">
      “BOUTIJOUR, WELL-AGING MUST HAVES”
    </div>

    <div class="anti-aging-image_container">
      <div class="anti-aging-image_wrapper">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_002.png?v=1697065038">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-16_001.png?v=1697065038">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_004.png?v=1697065037">
        <img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/KakaoTalk_Photo_2023-10-12-07-56-17_003.png?v=1697065037">
      </div>
    </div>
  </div>

</div>

<style>
  .disrupt-anti-aging-icon_wrapper {
    height: 290px;
    background: #F7F6F0;
  }

  .disrupt-anti-aging {
    position: relative;
    width: 100%;
  }

  .anti-aging_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .anti-aging_left,
  .anti-aging_right {
    position: relative;
    width: 50%;
    height: 53.7vw;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 149px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .anti-agin-left-txt_wrapper {
    z-index: 5;
    position: relative;
  }

  .anti-agin-right-txt_wrapper {
    z-index: 5;
    position: relative;
  }

  .anti-agin-right-cta_wrapper {
    position: relative;
    z-index: 5;
  }

  .anti-agin-left-cta_wrapper {
    position: relative;
    z-index: 5;
  }

  .disrupt-aging-eyebrow {
    font-family: ambroise-std;
    font-style: italic;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 1.1;
  }

  .disrupt-aging-header {
    font-family: ambroise-std;
    font-size: 100px;
    letter-spacing: -1px;
    line-height: 1.1;
  }

  .disrupt-aging-body {
    font-size: 23px;
    letter-spacing: 0;
    line-height: 1.1;
    font-family: Acumin-Pro;
  }

  .disrupt-cta-btn {
    width: 290px;
    height: 80px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disrupt-btn-txt {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.1;
    font-family: acumin-pro;
  }

  .disrupt-txt-align-center {
    text-align: center;
  }

  .mg-t-116 {
    margin-top: 116px;
  }


  .mg-b-20 {
    margin-bottom: 20px;
  }

  .mg-t-51 {
    margin-top: 51px;
  }

  .anti-aging-image_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .anti-aging-image_wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  @media(max-width: 1500px) {

    .anti-aging-image_container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: unset;
    }

    .anti-aging-image_wrapper {
      width: calc(4 * 19.6vw);
      margin-top: 35px;
    }

    .anti-aging-image_wrapper img:nth-child(1) {
      width: 121px;
      height: 31px;
    }
    .anti-aging-image_wrapper img:nth-child(2) {
      width: 88px;
      height: 25px;
    }
    .anti-aging-image_wrapper img:nth-child(3) {
      width: 129px;
      height: 24px;
    }
    .anti-aging-image_wrapper img:nth-child(4) {
      width: 140px;
      height: 78px;
    }


    .disrupt-aging-eyebrow {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .disrupt-aging-header {
      font-size: 50px;
      letter-spacing: -1px;
      line-height: 1.1;
    }

    .disrupt-aging-body {
      font-size: 35px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .disrupt-cta-btn {
      width: 230px;
      height: 63px;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .disrupt-btn-txt {
      font-size: 23px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .anti-aging_left,
    .anti-aging_right {
      padding-top: 57px;
      padding-bottom: 64px;
    }



    .mg-t-116 {
      margin-top: 70px;
    }

    .mg-b-20 {
      margin-bottom: 15px;
    }

    .mg-t-51 {
      margin-top: 35px;
    }

    .anti-aging-text {
      text-align: center;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 1;
      color: #13613E;
      text-transform: uppercase;
      opacity: 1;
      padding-top: 61px;
      display: block !important;
    }
  }


  /* right */


  @media(max-width: 750px) {

    .anti-aging-image_container {}

    .anti-aging-image_wrapper {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
    }

    .anti-aging-image_wrapper img:nth-child(1) {
      width: 51px;
      height: 14px;
    }
    .anti-aging-image_wrapper img:nth-child(2) {
      width: 37px;
      height: 10px;
    }
    .anti-aging-image_wrapper img:nth-child(3) {
      width: 55px;
      height: 10px;
    }
    .anti-aging-image_wrapper img:nth-child(4) {
      width: 59px;
      height: 33px;
    }

    .anti-aging-text {
      text-align: center;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 1;
      color: #13613E;
      text-transform: uppercase;
      opacity: 1;
      padding-top: 41px;
    }


    .disrupt-anti-aging-icon_wrapper {
      height: 130px;
    }

    .anti-aging_wrapper {
      flex-direction: column;
    }

    .anti-aging_left,
    .anti-aging_right {
      position: relative;
      width: 100%;
      height: 107vw;
      overflow: hidden;
      padding-top: 50px;
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }



    .anti-aging_right {
      display: none;
    }

    .disrupt-aging-eyebrow {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .disrupt-aging-header {
      font-size: 40px;
      letter-spacing: -1px;
      line-height: 1.1;
    }

    .disrupt-aging-body {
      font-size: 35px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .disrupt-cta-btn {
      width: 162px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .disrupt-btn-txt {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 1.1;
    }

    .mg-t-116 {
      margin-top: 40px;
    }

    .anti-aging-text {
      font-family: acumin-pro;
      font-size: 12px;
      line-height: 1;
    }


  }

  @media(min-width: 750px) {
    .anti-aging-text {
      display: none;
    }
  }
</style>
{% schema %}
  {
    "name": "Disrupt anti-aging",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Media Content"
      },
      {
        "type": "image_picker",
        "id": "image_desktop_l",
        "label": "Desktop image left"
      },
      {
        "type": "image_picker",
        "id": "image_mobile_l",
        "label": "Mobile image left"
      },
      {
        "type": "image_picker",
        "id": "image_desktop_r",
        "label": "Desktop image right"
      }, {
        "type": "image_picker",
        "id": "image_mobile_r",
        "label": "Mobile image right"
      }, {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "SUPER WELL AGING RITUAL"
      }
    ],

    "presets": [
      {
        "name": "Disrupt anti-aging"
      }
    ]
  }
{% endschema %}