/* .featured-blog--root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.featured-blog--grid {
  width: 100%;
  overflow: hidden;
  display: block;
}

.featured-blog--grid__wrapper {
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  justify-content: flex-start;
  grid-gap: unset;

  --item-width: 270px;
  --item-gap: 24px;
}

.featured-blog--grid__wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.featured-blog--root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 750px) {
  .arrow_left,
  .arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: 0 !important;
    padding: 0;
  }

  .arrow_left {
    left: -45px;
  }

  .arrow_right {
    right: -45px;
  }
}

@media (max-width: 750px) {
  .arrow_left,
  .arrow_right {
    display: none !important;
  }
}

.featured-blog--wrapper {
  position: relative;
}

@media (min-width: 750px) and (max-width: 1500px) {
  .featured-blog--wrapper {
    width: calc(4 * 19.6vw) !important;
    max-width: calc(4 * 19.6vw) !important;
  }
}

@media (min-width: 750px) {
  .featured-blog--grid__wrapper {
    transition: 0.2s ease;
  }

  .featured-blog--grid__wrapper .article--item {
    width: var(--item-width);
    min-width: var(--item-width);
    max-width: var(--item-width);
  }
}

.flexbox-gap .article--item {
  gap: unset !important;
}

@media (max-width: 750px) {
  .featured-blog--grid__wrapper {
    overflow: auto;
    transform: translateX(0) !important;
    transition: none !important;

    --item-gap: 27px;
  }

  .flexbox-gap .article--item {
    min-width: 270px;
    flex: 1;
  }
}

.article--item + .article--item {
  margin-left: var(--item-gap);
}

.featured-blog--heading {
  text-align: center;
}

.article--item--heading {
  margin-top: 4px;
  color: #13613e;
  font-size: 20px;
}

.article--item--date {
  margin-top: 7px;
  color: #6f6f6f !important;
  font-size: 12px;
}

.article--item--read-more {
  margin-top: 32px;
  font-size: 15px;
}

.article--item--read-more a {
  color: #6f6f6f !important;
}

.article--item--read-more a:after {
  border-color: #6f6f6f;
}

@media (max-width: 1500px) {
  .article--item--heading {
    margin-top: 2px;
    font-size: 18px;
  }

  .article--item--date {
    margin-top: 11px;
    font-size: 10px;
  }

  .article--item--read-more {
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .featured-blog--wrapper {
    width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .article--item--heading {
    margin-top: 10px;
  }

  .article--item--read-more {
    margin-top: 28px;
  }
}

.featured-blog--header {
  margin-bottom: 38px;
}

.featured-blog--heading {
  color: inherit;
  text-transform: uppercase;
  font-size: 55px;
}

.featured-blog--viewmore {
  margin-top: 15px;
  color: inherit;
  text-align: right;
  font-size: 20px;
}

.featured-blog--viewmore a {
  color: inherit;
  text-decoration: underline;
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .featured-blog--heading {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .featured-blog--header {
    margin-bottom: 24px;
  }

  .featured-blog--heading {
    font-size: 20px;
  }

  .featured-blog--viewmore {
    margin-top: 8px;
    font-size: 12px;
  }
}
